<h1>Your Events</h1>

<% @events.each do |event| %>
  <ul>  
    <li>
      <h3><%= event.title %></h3>
      <%= event.description %><br>
      <%= event.date %><br>
    </li>
    <%= button_to "Edit this event", edit_event_path(event.id), method: :get %>
    <%= button_to "Delete this event", event_path(event.id), method: :delete %>
  </ul>
<% end %>

<h1>Events You're attending</h1>
<h2>Upcoming Events</h2>
<% @attendances.where("date >= :today", { today: Date.today }).order(date: :asc).each do |attendance| %>
  <ul>
    <li>
      <h3><%= attendance.title %></h3>
      <%= attendance.description %><br>
      <%= attendance.date %><br>
    </li>
  </ul>
<% end %>
<h2>Past Events</h2>
<% @attendances.where("date < :today", { today: Date.today }).order(date: :asc).each do |attendance| %>
  <ul>  
    <li>
      <h3><%= attendance.title %></h3>
      <%= attendance.description %><br>
      <%= attendance.date %><br>
    </li>
  </ul>
<% end %>