<h1>Events</h1>
<% @events.each do |event| %>
  <ul>  
    <li>
      <h3><%= event.title %></h3>
      <%= event.description %><br>
      <%= event.date %><br>
      <%= "Creator ID:" %>
      <%= event.creator.id %><br>
      <%= button_to "Attend this event", attended_events_path, params: {id: event.id}, method: :post %>
      <%= link_to "See Event Attendees", attended_events_path(event.id), method: :get %>
    </li>
  </ul><% end %>