<h1>Events</h1>
<% @events.each do |event| %>
  <ul>  
    <li>
      <h3><%= event.title %></h3>
      <%= event.description %><br>
      <%= event.date %><br>
      <%= "Creator ID:" %>
      <%= event.creator.id %><br>
      <%= "Check here to attend: " %><br>
      <%= link_to "See Event Details", attended_events_path, method: :get %>
    </li>
  </ul><% end %>