<% @events.each do |event| %>
  <ul>  
    <li>
      <h1><%= event.title %></h1>
      <%= event.description %><br>
      <%= event.date %><br>
      <%= "Creator ID:" %>
      <%= event.creator.id %><br>
      <%= button_to "Attend this event", events_users_path, params: {id: event.id}, method: :post %>
    </li>
  </ul><% end %>

<%= "Attendees: " %><br>

<%# <% @attendees.each do |attendee| %> %>
  <ul>  
    <li>
      <%# <%= attendee.first_name %> %>
      <%# <%= attendee.last_name %> %>
    </li>
  </ul>
<%# <% end %> %>