<% @events.each do |event| %>
  <ul>  
    <li>
      <h1><%= event.title %></h1>
      <%= event.description %><br>
      <%= event.date %><br>
      <%= "Creator ID:" %>
      <%= event.creator.id %><br>
    </li>
  </ul><% end %>

<% @attended_events.each do |attended_event| %>
  <ul>  
    <li>
      <h1><%= attended_event.event.title %></h1>
      <%= attended_event.event.description %><br>
      <%= attended_event.event.date %><br>
      <%= "Creator ID:" %>
      <%= attended_event.creator.id %><br>
      <%= "Attendees: " %><br>
      <%= "Check here to attend: " %><br>
    </li>
  </ul><% end %>