<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <% if user_signed_in? %>
        <%= "Current User:" %>
        <%= current_user.id %>
      <% end %>
    </div>
    <div class="nav-bar">
      <%= button_to "All Events", events_path, method: :get %>
      <%= button_to "New Event", new_event_path, method: :get %>
      <%= button_to "User Created Events", profile_path, method: :get %>
      <%= button_to "Log In", new_user_session_path, method: :get %>
      <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
    </div>
    <%= yield %>
  </body>
</html>
